// primary
$primary: #ffa929;

// text
$text-primary: #ffffff;
$text-secondary: #ababab;
$text-yellow: #714c15;
$text-black: #000000;

// background
$background-light: #272624;
$background: #171717;

// scrollbar
$scrollbar-foreground: $primary;
$scrollbar-background: $background-light;
